<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:annotation-config/>
    <bean id="cat" class="org.example.Cat"/>
    <bean id="dog" class="org.example.Dog"/>
    <bean id="parrot1" class="org.example.Parrot"/>
    <bean id="parrot2" class="org.example.Parrot"/>
    <bean id="human" class="org.example.Human">
        <constructor-arg ref="cat"/>
        <constructor-arg ref="dog"/>
        <constructor-arg>
            <list>
                <ref bean="parrot1"/>
                <ref bean="parrot2"/>
            </list>
        </constructor-arg>
    </bean>
</beans>